main section:nth-child(1) {
  background-color: #8b441f;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section:nth-child(1) h1 {
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
}
/* Second Section */

main section:nth-child(2) {
  background-color: #d2a262;
  height: 60vh;
  width: 100%;
}
main section:nth-child(2) nav {
  display: flex;
  justify-content: center;
}
main section:nth-child(2) nav ul {
  display: flex;
}
main section:nth-child(2) nav ul li {
  padding: 15px;
  text-transform: uppercase;
  color: #476c03;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 22px;
}
main section:nth-child(2) .text-box h1 {
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}
main section:nth-child(2) .text-box p:not(p:last-child) {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #8b441f;
}
