/* Roots */
:root {
  --mainColor: #0a66c2;
}
body {
  background-color: #5cc3ff;
}
/* start main */
main {
  width: 400px;
  margin: 30px auto;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 7px;
  justify-content: center;
}
main h2 {
  text-align: center;
  margin: 20px 0 0 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  color: #4c78a3;
}
main p {
  text-align: center;
  margin: 10px 0px 25px 0px;
  color: rgb(64, 64, 64);
}
main form {
  display: flex;
  flex-direction: column;
}
main form .input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

main form .input > input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid gray;
  border-radius: 7px;
}
main form .input > input:focus {
  border-bottom-color: #42bda3;
}
main form .input label {
  font-size: 13px;
  color: rgb(74, 74, 74);
  margin-bottom: 5px;
}
main form .buttons {
  text-align: center;
}
main form .buttons button {
  padding: 10px 20px;
  border-radius: 7px;
  border: none;
  background-color: #5cc3ff;
  color: white;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
}
/* end main */
