/* Roots */
:root {
  --mainColor: #0a66c2;
}
/* start main */
main {
  padding: 20px;
  position: relative;
}

/* Start Header */
header {
  padding: 20px;
}
/* End Header */
main article {
  padding: 10px;
  background-color: #fff;
}
/* Start Nan */
main nav{
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50vh;
  width: 200px;
}
main nav img{
  width: 100% ;
  height: 100% ;
}
/* End Nan */
/* end main */
